In [2]:
import numpy as np
import pandas as pd

# Innovasjon Norge

In [11]:
inno = pd.read_csv(r'D:\Projects\Python\Samspill\dataset\in_vedtak_geo.csv')

In [12]:
def getÅr(år):
    return str(år)[:4]

In [13]:
inno['Innvilget_år'] = inno['Innvilget dato'].apply(getÅr)

In [14]:
inno.head(1)

,Unnamed: 0,Unnamed: 0.1,Fylke,Kommune,Org nr.,Kunde,Virkemiddel,Innvilget dato,Innvilget beløp,Behandlende enhet,...,fylke_lon,kommune_lat,kommune_lon,Næringskode 1,Næringskode 2,Næringskode 3,Sektor,Innvilget År,Innvilget (mill),Innvilget_år
0,0,0,Østfold,Østfold,986 258 191,INKUBATOR HALDEN AS,Landsdekkende programmer,2011.01.11,5000000,IN Hovedkredittutvalget,...,11.327901,59.255829,11.327901,Bedriftsrådgivning og annen administrativ rådg...,NaN,NaN,Kommunalt eide aksjeselskaper mv.,2011,5.0,2011

In [140]:
inno_grp = inno[['Fylke','Kommune','Virkemiddel','Næringskode 1','Sektor','Innvilget_år','Behandlende enhet','Innvilget beløp']]\
 .groupby(['Virkemiddel','Behandlende enhet','Fylke','Kommune','Næringskode 1','Sektor','Innvilget_år']).sum().reset_index()

In [141]:
inno_grp.insert(0,'Kilde','Innovasjon Norge')
inno_grp.insert(1,'Virkemiddelgruppe','TBD')

In [142]:
inno_grp.rename(columns={'Behandlende enhet':'Enhet','Næringskode 1': 'Næringskode',\
                         'Innvilget_år': 'Start','Innvilget beløp': 'Beløp'}, inplace=True)

In [143]:
inno_grp.head(1)

,Kilde,Virkemiddelgruppe,Virkemiddel,Enhet,Fylke,Kommune,Næringskode,Sektor,Start,Beløp
0,Innovasjon Norge,TBD,Adm.støtte for distriktsrettet såkornfond,IN Hovedkredittutvalget,Nord-Trøndelag,Namsos,Investeringsselskaper og lignende lukket for a...,Øvrige finansielle foretak unntatt forsikring,2011,950000

# SIVA næringshager

In [119]:
siva_nh = pd.read_csv(r'D:/Projects/Python/Samspill/dataset/siva_næringshage.tsv', sep='\t')

In [120]:
siva_nh.head(1)

,Rapportår,Inkubator,Orgnr_ink,Målbedrift,MålbedriftID,Orgnr_bedrift,Fase,Avtalestart,Avtaleslutt,Avslutt engasjement,...,Sum innovasjonsstøtte fra inkubatoren,Støtteintensitet,kommune_lat,kommune_lon,kommune_lat_lon,fylke_lat,fylke_lon,fylke_lat_lon,Avtalestart_år,Avtaleslutt_år
0,2013,7Sterke AS,997144368,RØNNING TRESKI AS,532.0,990067236,Inkubatorbedrift,2013-06-11,2016-06-10,USANN,...,162036,71.39,59.98556,12.12502,"59.98556,12.12502",60.79529,11.08254,"60.79529,11.08254",2013,2016

In [121]:
siva_nh.dtypes

Rapportår                                                         int64
Inkubator                                                        object
Orgnr_ink                                                         int64
Målbedrift                                                       object
MålbedriftID                                                    float64
Orgnr_bedrift                                                    object
Fase                                                             object
Avtalestart                                                      object
Avtaleslutt                                                      object
Avslutt engasjement                                              object
Bransje                                                          object
NACE                                                             object
Etableringsdato                                                  object
Etableringsår                                                    object
Fylke                                                            object
Kommunenr                                                        object
Kommune                                                          object
I Forr.messig innovasjon i løpet av året                        float64
Inkubatorbedrift i løpet av året                                float64
I Preinkubasjon i løpet av året                                 float64
Kvinnelig daglig leder                                           object
Kvinnelig styreleder                                             object
KvinneligGrunder                                                 object
Markedsverdien på innovasjonsstøttetjenester fra inkubatoren     object
Fakturert egenandel                                              object
Sum innovasjonsstøtte fra inkubatoren                            object
Støtteintensitet                                                 object
kommune_lat                                                     float64
kommune_lon                                                     float64
kommune_lat_lon                                                  object
fylke_lat                                                       float64
fylke_lon                                                        object
fylke_lat_lon                                                    object
Avtalestart_år                                                   object
Avtaleslutt_år                                                   object
dtype: object

In [122]:
def getStøtte(støtte):
    if str(støtte) == 'nan':
        return 0
    elif støtte == '(tom)':
        return 0
    else:
        return støtte

In [123]:
siva_nh['Støtte beløp'] = siva_nh['Sum innovasjonsstøtte fra inkubatoren'].apply(getStøtte)

In [133]:
siva_grp = siva_nh[['Fylke','Kommune','Bransje','Avtalestart_år',\
                    'Støtte beløp']]\
 .groupby(['Fylke','Kommune','Bransje','Avtalestart_år',\
                ]).sum().reset_index(name='Beløp')
    
siva_grp.drop('level_4', axis=1, inplace=True)

In [134]:
siva_grp.insert(0,'Kilde','SIVA')
siva_grp.insert(1,'Virkemiddelgruppe','TBD')
siva_grp.insert(2,'Virkemiddel','Næringshage')

In [144]:
siva_grp.rename(columns={'Avtalestart_år': 'Start'}, inplace=True)

In [145]:
siva_grp.tail(1)

,Kilde,Virkemiddelgruppe,Virkemiddel,Fylke,Kommune,Bransje,Start,Beløp
828,SIVA,TBD,Næringshage,ØSTFOLD,SPYDEBERG,Mat og Natur,2011,623670