In [3]:
from bs4 import BeautifulSoup
import requests
import numpy as np
import pandas as pd

url = "http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2016_1"
resp  = requests.get(url)
data = resp.text
soup = BeautifulSoup(data,"lxml")

In [4]:
i_n = pd.DataFrame()

for year in range(2011, 2017):
    for month in range(1, 13):
        if ((year == 2017) & (month >= 1)):
           break
        url = "http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=" + str(year) + "_" + str(month)
        print(url)
        ls = pd.read_html(url, attrs = {'id': 'table'})[0]
        i_n = i_n.append(ls)

http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2011_1
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2011_2
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2011_3
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2011_4
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2011_5
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2011_6
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2011_7
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2011_8
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2011_9
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2011_10
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2011_11
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2011_12
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2012_1
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2012_2
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2012_3
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2012_4
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2012_5
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2012_6
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2012_7
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2012_8
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2012_9
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2012_10
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2012_11
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2012_12
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2013_1
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2013_2
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2013_3
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2013_4
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2013_5
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2013_6
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2013_7
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2013_8
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2013_9
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2013_10
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2013_11
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2013_12
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2014_1
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2014_2
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2014_3
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2014_4
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2014_5
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2014_6
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2014_7
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2014_8
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2014_9
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2014_10
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2014_11
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2014_12
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2015_1
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2015_2
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2015_3
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2015_4
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2015_5
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2015_6
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2015_7
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2015_8
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2015_9
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2015_10
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2015_11
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2015_12
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2016_1
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2016_2
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2016_3
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2016_4
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2016_5
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2016_6
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2016_7
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2016_8
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2016_9
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2016_10
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2016_11
http://www.innovasjonnorge.no/no/finansiering/Offentlige-vedtak?fil=2016_12

In [5]:
i_n.describe()

       \n                            Innvilget beløp\n
count                                       3.625200e+04
mean                                        1.102706e+06
std                                         4.225272e+06
min                                         9.875000e+02
25%                                         1.400000e+05
50%                                         3.500000e+05
75%                                         9.000000e+05
max                                         2.400000e+08

In [6]:
i_n.dtypes

\n                            Fylke\n                                         object
\n                            Kommune\n                                       object
\n                            Org nr.\n                                       object
\n                            Kunde\n                                         object
\n                            Virkemiddel\n                                   object
\n                            Innvilget dato\n                                object
\n                            Innvilget beløp\n                              float64
\n                            Behandlende enhet\n                             object
dtype: object

In [7]:
i_n.columns = [col_name.replace('\n','').strip() for col_name in i_n.columns]
i_n.dtypes

Fylke                 object
Kommune               object
Org nr.               object
Kunde                 object
Virkemiddel           object
Innvilget dato        object
Innvilget beløp      float64
Behandlende enhet     object
dtype: object

In [8]:
i_n.columns.tolist()

['Fylke',
 'Kommune',
 'Org nr.',
 'Kunde',
 'Virkemiddel',
 'Innvilget dato',
 'Innvilget beløp',
 'Behandlende enhet']

In [9]:
i_n.head(1)

,Fylke,Kommune,Org nr.,Kunde,Virkemiddel,Innvilget dato,Innvilget beløp,Behandlende enhet
0,Østfold,Østfold,986 258 191,INKUBATOR HALDEN AS,Landsdekkende programmer,2011.01.11,5000000.0,IN Hovedkredittutvalget

In [10]:
def getOrgNrInt(orgnr):
    if not orgnr:
        return np.nan
    orgnr = str(orgnr)
    orgnr = orgnr.replace(" ","")
    if (len(orgnr) == 9):
        return int(orgnr)
    return np.nan

i_n['orgnr'] = i_n['Org nr.'].apply(lambda x: getOrgNrInt(x))

i_n.head(5)

,Fylke,Kommune,Org nr.,Kunde,Virkemiddel,Innvilget dato,Innvilget beløp,Behandlende enhet,orgnr
0,Østfold,Østfold,986 258 191,INKUBATOR HALDEN AS,Landsdekkende programmer,2011.01.11,5000000.0,IN Hovedkredittutvalget,986258191.0
1,Østfold,Hvaler,NaN,OLE RAGNAR TORGERSEN,GFL-flåte,2011.01.13,100000.0,IN Hordaland,NaN
2,Østfold,Halden,992 134 224,ANETTE FRØYLAND,Fylkesvise BU-midler,2011.01.14,90000.0,IN Østfold,992134224.0
3,Østfold,Rakkestad,NaN,MARIUS NORDAL,Fylkesvise BU-midler,2011.01.14,30000.0,IN Østfold,NaN
4,Østfold,Rakkestad,NaN,MARIUS NORDAL,Landbrukslån,2011.01.14,6000000.0,IN Østfold,NaN

In [12]:
writer = pd.ExcelWriter(r'C:\Data\Data\in_vedtak.xlsx', engine='xlsxwriter')
i_n.to_excel(writer, sheet_name='vedtak')
writer.save()

In [ ]:
unike_orgnr = i_n['orgnr'].unique()

from pandas.io.json import json_normalize
import json

br = pd.DataFrame()

for orgnr in unike_orgnr:
    if not orgnr:
        break
    orgnr = str(orgnr).replace(" ","")
    if (len(orgnr) == 9):
        url = "http://data.brreg.no/enhetsregisteret/enhet/" + orgnr + ".json"
        r  = requests.get(url)
        if (r.status_code == requests.codes.ok):
            data = r.text
            resp = json.loads(data)
            result = json_normalize(resp)
            br = br.append(result)

nr = unike_orgnr[0].replace(" ","")

url = "http://data.brreg.no/enhetsregisteret/enhet/" + str(nr) + ".json"
resp  = requests.get(url)
data = resp.text

print(data)

resp = json.loads(data)
result = json_normalize(resp)

result.head(5)

In [ ]:
difi = pd.read_csv(r'D:\Data\enhetsregisteret.csv', sep=';')

In [ ]:
difi.rename(columns={'﻿orgnr': 'orgnr'}, inplace=True)

In [ ]:
df_in = pd.merge(i_n, difi, on='orgnr', how='left')

In [22]:
df_in.head(5)

,Fylke,Kommune,Org nr.,Kunde,Virkemiddel,Innvilget dato,Innvilget beløp,Behandlende enhet,orgnr,navn,...,regifriv,regdato,stiftelsesdato,tlf,tlf_mobil,url,regnskap,hovedenhet,ansatte_antall,ansatte_dato
0,Østfold,Østfold,986 258 191,INKUBATOR HALDEN AS,Landsdekkende programmer,2011.01.11,5000000.0,IN Hovedkredittutvalget,986258191.0,SMART INNOVATION NORWAY AS,...,N,04.12.2003,05.11.2003,NaN,NaN,www.ncesmart.com,2015.0,NaN,21.0,12.11.2016
1,Østfold,Hvaler,NaN,OLE RAGNAR TORGERSEN,GFL-flåte,2011.01.13,100000.0,IN Hordaland,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Østfold,Halden,992 134 224,ANETTE FRØYLAND,Fylkesvise BU-midler,2011.01.14,90000.0,IN Østfold,992134224.0,ANETTE FRØYLAND,...,N,19.01.2008,NaN,69 19 62 29,95861929,NaN,NaN,NaN,NaN,NaN
3,Østfold,Rakkestad,NaN,MARIUS NORDAL,Fylkesvise BU-midler,2011.01.14,30000.0,IN Østfold,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Østfold,Rakkestad,NaN,MARIUS NORDAL,Landbrukslån,2011.01.14,6000000.0,IN Østfold,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
kommuner_navn = df_in[(~df_in['Kommune'].isin(['Flere kommuner','Utlandet']))]['Kommune'].unique()
fylker_navn = df_in[(~df_in['Fylke'].isin(['Flere fylker/Utland','spesifisert']))]['Fylke'].unique()

In [25]:
import googlemaps
from pandas.io.json import json_normalize 
import json

gmaps = googlemaps.Client(key='AIzaSyBbPdKPBqmyX5lmcuMinbeOXTSw6tauftg')

In [26]:
fylker_geo = []

for fylke in fylker_navn:
    res = {}
    res['Fylke'] = fylke
    geocode_result = gmaps.geocode(fylke + ', Norway')
    res['fylke_lon']  =  geocode_result[0]['geometry']['location']['lng']
    res['fylke_lat']  =  geocode_result[0]['geometry']['location']['lat']
    fylker_geo.append(res)

In [27]:
kommuner_geo = []

for kommune in kommuner_navn:
    #print(kommune)
    res = {}
    res['Kommune'] = kommune
    geocode_result = gmaps.geocode(kommune + ', Norway')
    if (len(geocode_result) > 0):
        res['kommune_lon']  =  geocode_result[0]['geometry']['location']['lng']
        res['kommune_lat']  =  geocode_result[0]['geometry']['location']['lat']
        kommuner_geo.append(res)
    
#print(kommuner_geo)

In [28]:
fylker_geo_df = pd.DataFrame(fylker_geo)
kommuner_geo_df = pd.DataFrame(kommuner_geo)

In [29]:
fylker_geo_df.head(1)

     Fylke  fylke_lat  fylke_lon
0  Østfold  59.255829  11.327901

In [30]:
kommuner_geo_df.head(1)

   Kommune  kommune_lat  kommune_lon
0  Østfold    59.255829    11.327901

In [31]:
df_in_geo = pd.merge(df_in, fylker_geo_df, how='left')
df_in_geo = pd.merge(df_in_geo, kommuner_geo_df, how='left')

In [32]:
df_in_geo.head(5)

,Fylke,Kommune,Org nr.,Kunde,Virkemiddel,Innvilget dato,Innvilget beløp,Behandlende enhet,orgnr,navn,...,tlf_mobil,url,regnskap,hovedenhet,ansatte_antall,ansatte_dato,fylke_lat,fylke_lon,kommune_lat,kommune_lon
0,Østfold,Østfold,986 258 191,INKUBATOR HALDEN AS,Landsdekkende programmer,2011.01.11,5000000.0,IN Hovedkredittutvalget,986258191.0,SMART INNOVATION NORWAY AS,...,NaN,www.ncesmart.com,2015.0,NaN,21.0,12.11.2016,59.255829,11.327901,59.255829,11.327901
1,Østfold,Hvaler,NaN,OLE RAGNAR TORGERSEN,GFL-flåte,2011.01.13,100000.0,IN Hordaland,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,59.255829,11.327901,59.062471,10.872568
2,Østfold,Halden,992 134 224,ANETTE FRØYLAND,Fylkesvise BU-midler,2011.01.14,90000.0,IN Østfold,992134224.0,ANETTE FRØYLAND,...,95861929,NaN,NaN,NaN,NaN,NaN,59.255829,11.327901,59.114094,11.393725
3,Østfold,Rakkestad,NaN,MARIUS NORDAL,Fylkesvise BU-midler,2011.01.14,30000.0,IN Østfold,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,59.255829,11.327901,59.383919,11.461294
4,Østfold,Rakkestad,NaN,MARIUS NORDAL,Landbrukslån,2011.01.14,6000000.0,IN Østfold,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,59.255829,11.327901,59.383919,11.461294

In [33]:
df_in_geo.columns

Index(['Fylke', 'Kommune', 'Org nr.', 'Kunde', 'Virkemiddel', 'Innvilget dato',
       'Innvilget beløp', 'Behandlende enhet', 'orgnr', 'navn',
       'organisasjonsform', 'forretningsadr', 'forradrpostnr',
       'forradrpoststed', 'forradrkommnr', 'forradrkommnavn', 'forradrland',
       'postadresse', 'ppostnr', 'ppoststed', 'ppostland', 'regifr', 'regimva',
       'nkode1', 'nkode2', 'nkode3', 'sektorkode', 'konkurs', 'avvikling',
       'tvangsavvikling', 'regiaa', 'regifriv', 'regdato', 'stiftelsesdato',
       'tlf', 'tlf_mobil', 'url', 'regnskap', 'hovedenhet', 'ansatte_antall',
       'ansatte_dato', 'fylke_lat', 'fylke_lon', 'kommune_lat', 'kommune_lon'],
      dtype='object')

In [34]:
from sqlalchemy import create_engine

In [38]:
engine = create_engine('mssql+pyodbc://nfr:Aristofanous24@azure_idelab')

connection = engine.connect()
result = connection.execute("SELECT name FROM master.dbo.sysdatabases")
for row in result:
    print(row[0])
connection.close()

with engine.connect() as conn, conn.begin():
    data = pd.read_sql_table('crossfilter', conn)

import pymssql
conn = pymssql.connect(server='tceb4w1tnm.database.windows.net:1433', 
                       user='nfr@tceb4w1tnm.database.windows.net', 
                       password='Aristofanous24', database='nfrsql', charset='utf8')

In [37]:
writer = pd.ExcelWriter(r'C:\Data\Data\in_vedtak_geo.xlsx', engine='xlsxwriter')
df_in_geo.to_excel(writer, sheet_name='vedtak')
writer.save()

In [39]:
df_in_geo.to_sql('in_vedtak_geo', engine, chunksize=1000)

DBAPIError: (pyodbc.Error) ('08001', '[08001] [Microsoft][SQL Server Native Client 11.0]TCP Provider: Timeout error [258].  (258) (SQLDriverConnect)')