In [1]:
import numpy as np
import pandas as pd

In [2]:
mappe = r'D:/Projects/Python/Samspill/dataset/'

In [3]:
# Kilde: Olav Bolstad. Lastet 5.3.2017
file = mappe + r'fylke_kommune_lat_lon.xlsx'
util_excel = pd.ExcelFile(file, encoding='utf-8')
util_excel.sheet_names

['Sheet1']

In [4]:
lat_lon = util_excel.parse('Sheet1')

In [5]:
lat_lon.head(5)

,Kommunenummer,Type,GeonameID,Norsk,Fylkenummer,Fylke,Folketal,KommuneLat,KommuneLon,Administrasjonssenter,AdmsenterSSRobjID,AdmsenterGeonameid,Lat,Lon
0,100,fylke,258542,Østfold,1,Østfold,277766,NaN,NaN,Sarpsborg,NaN,3143188,59.27525,11.10596
1,101,komm,6453395,Halden,1,Østfold,29547,59.12258,11.38709,Halden,34643.0,3154209,59.12478,11.38754
2,104,komm,6453384,Moss,1,Østfold,30646,59.43436,10.65968,Moss,46556.0,3145375,59.43403,10.65771
3,105,komm,6453388,Sarpsborg,1,Østfold,53239,59.28148,11.11167,Sarpsborg,48509.0,3140084,59.28391,11.10962
4,106,komm,6453392,Fredrikstad,1,Østfold,75500,59.21759,10.93787,Fredrikstad,33600.0,3156529,59.21810,10.92981

In [6]:
def getKommuneNr(nr):
    if nr < 1000:
        return '0' + str(nr)
    else:
        return nr

def getFylkeNr(nr):
    if nr < 10:
        return '0' + str(nr)
    else:
        return nr

In [7]:
lat_lon['kommunenr'] = lat_lon['Kommunenummer'].apply(getKommuneNr)
lat_lon['fylkenr'] = lat_lon['Fylkenummer'].apply(getKommuneNr)

In [8]:
kommune = lat_lon[(lat_lon['Type'] == 'komm')][['kommunenr','Norsk','KommuneLat','KommuneLon']]
kommune = kommune.rename(columns={'Norsk': 'kommune', 'KommuneLat':'lat','KommuneLon':'lon',})
kommune['lat_lon'] = kommune['lat'].astype(str) + ',' + kommune['lon'].astype(str)
kommune.head(1)

  kommunenr kommune       lat       lon            lat_lon
1      0101  Halden  59.12258  11.38709  59.12258,11.38709

In [9]:
kommune.to_csv(mappe + 'kommune_geo.tsv', encoding='utf-8', sep='\t', index=False)

In [10]:
fylke = lat_lon[(lat_lon['Type'] == 'fylke')][['fylkenr','Fylke','Lat','Lon']]
fylke = fylke.rename(columns={'Fylke': 'fylke', 'Lat':'lat','Lon':'lon',})
fylke['lat_lon'] = fylke['lat'].astype(str) + ',' + fylke['lon'].astype(str)
fylke.head(1)

  fylkenr    fylke       lat       lon            lat_lon
0      01  Østfold  59.27525  11.10596  59.27525,11.10596

In [11]:
fylke.to_csv(mappe + 'fylke_geo.tsv', encoding='utf-8', sep='\t', index=False)