In [1]:
%matplotlib inline
import pandas as pd
from sqlalchemy import create_engine # database connection
import os
import datetime as dt
from IPython.display import display

from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
from plotly.graph_objs import Bar, Scatter, Figure, Layout
import plotly.plotly as py
init_notebook_mode(connected=True)

In [2]:
def getDir(dir = ''):
    directory = r'C:/Data/Repos/Samspill/Dataset/'
    if len(dir) > 0:
        directory = directory + dir + '/'
    if not os.path.exists(directory):
        os.makedirs(directory)
    
    return directory

In [3]:
result = getDir('powerbi')
writer = pd.ExcelWriter(result + r'samspill.xlsx', engine='xlsxwriter')
#i_n.to_excel(writer, sheet_name='')
#writer.save()

In [4]:
disk_engine = create_engine('sqlite:///C:/Data/Data/samspill.db')

# Innovasjon Norge Vedtak

In [5]:
in_excel = pd.ExcelFile(getDir() + r'IN_17_03_17.xlsx',encoding='utf-8')
in_excel.sheet_names

['Data', 'DIM_vmkode']

In [6]:
in_data = in_excel.parse('Data')
in_data.drop('#Vm-kode', 1, inplace=True)
in_data.rename(columns={'Endelig innvilget årsrapport beløp':'Beløp'}, inplace=True)
in_data.head(1)

,Year,Organisasjonsnummer,Prosjekt kundenavn,Saknummer,Virkemiddelkode,Beløp
0,2012,00005001512,IN Møre og Romsdal,2011/102608,703 - Bedriftsutviklingstilskudd,67200.0

In [7]:
in_kode = in_excel.parse('DIM_vmkode')
in_kode.drop('#vmkode', 1, inplace=True)
in_kode.rename(columns={'Behov-NY':'Behov', 'Tjeneste-Ny': 'Tjeneste', 'Leveransetype-NY': 'Leveransetype' }, inplace=True)
in_kode.head(1)

,Virkemiddelkode,Tjenestetype,Tjenestekode,Virkemiddelgruppe,Behov,Tjeneste - NY,Leveransetype - NY,Budsjettpost,Myndighet
0,001 - Prosjekter/programmer,Andre tjenester,P-005 - Bygdeutviklingsmidlene,Sentrale BU-midler,Finansiere innovasjon og annen bedriftsutvikling,Investeringsstøtte,Tilskudd,LMD 1150.50 BU-midler,LMD

In [28]:
in_kode['Virkemiddelkode','Tjenestetype'].groupby(['Virkemiddelkode'])

KeyError: ('Virkemiddelkode', 'Tjenestetype')

In [8]:
in_data = pd.merge(in_data, in_kode, how='left', on='Virkemiddelkode')

In [9]:
in_data.head(1)

,Year,Organisasjonsnummer,Prosjekt kundenavn,Saknummer,Virkemiddelkode,Beløp,Tjenestetype,Tjenestekode,Virkemiddelgruppe,Behov,Tjeneste - NY,Leveransetype - NY,Budsjettpost,Myndighet
0,2012,00005001512,IN Møre og Romsdal,2011/102608,703 - Bedriftsutviklingstilskudd,67200.0,Finansieringstjenester,TF-054 - Tilskudd,Bedriftsutviklingstilskudd,Finansiere innovasjon og annen bedriftsutvikling,Investeringsstøtte,Tilskudd,KMD 551.60 Tilskudd til fylkeskommuner for reg...,KMD

In [10]:
in_data.to_sql('in', disk_engine, if_exists='replace')

# Eniro

In [11]:
datafil = r'C:\Data\Eniro\NFR_LEV_170203\SelskaperMedRegnskap_030217.txt'

In [12]:
pd.read_csv(datafil, nrows=1, sep='\t', encoding='utf-8')

,﻿orgnr,BEDRIFTSNR,Juridisk selskapsnavn,orgform,organisasjonsform,Status,Foretakets markedsnavn,Tidligere Foretaksnavn,fadresse,fpostnr,...,INGEN_DRIFT,UNDER_AVVIKLING,AVVIKENDE_REGNSKAPSAAR,EK_MINDRE_ENN_50_AV_AK,EGENKAPITALEN_ER_TAPT,AKSJEKAPITALEN_ER_TAPT,Revisor_orgnr,Revisor_Navn,Revisor_Postnr,Revisor_Poststed
0,810006862,NaN,WMF AS,AS,Aksjeselskap,Oppløst,WMF AS,WILHELMSEN MARINE FUELS AS,Strandveien 20,1366,...,0,0,0,0,0,0,933922847,PRICEWATERHOUSECOOPERS DA,278,OSLO

In [13]:
def toSqlLite(file, table):
    start = dt.datetime.now()
    chunksize = 20000
    j = 0
    index_start = 1

    #disk_engine.execute('DROP TABLE ' + table)

    # obs!! dropper linjer med feil (error_bad_lines=False)
    for df in pd.read_csv(file, sep='\t', 
                          encoding='utf-8',\
                          #names=oppsett.columns,\
                          chunksize=chunksize, 
                          iterator=True,\
                          error_bad_lines=False,
                          low_memory=False):

        df = df.rename(columns={c: c.replace(' ', '_') for c in df.columns}) # Remove spaces from columns
        df = df.rename(columns={c: c.replace('﻿', '') for c in df.columns}) # Remove spaces from columns

        df.index += index_start

        j+=1
        print('{} seconds: completed {} rows'.format((dt.datetime.now() - start).seconds, j*chunksize))

        df.to_sql(table, disk_engine, if_exists='append')
        index_start = df.index[-1] + 1

In [14]:
toSqlLite(r'C:\Data\Eniro\NFR_LEV_170203\SelskaperMedRegnskap_030217.txt', 'med')

0 seconds: completed 20000 rows
2 seconds: completed 40000 rows
5 seconds: completed 60000 rows
7 seconds: completed 80000 rows
9 seconds: completed 100000 rows
12 seconds: completed 120000 rows
14 seconds: completed 140000 rows
17 seconds: completed 160000 rows
19 seconds: completed 180000 rows
21 seconds: completed 200000 rows
24 seconds: completed 220000 rows
26 seconds: completed 240000 rows
28 seconds: completed 260000 rows
30 seconds: completed 280000 rows
33 seconds: completed 300000 rows
36 seconds: completed 320000 rows
38 seconds: completed 340000 rows
41 seconds: completed 360000 rows
44 seconds: completed 380000 rows
46 seconds: completed 400000 rows
49 seconds: completed 420000 rows
51 seconds: completed 440000 rows
53 seconds: completed 460000 rows
56 seconds: completed 480000 rows
58 seconds: completed 500000 rows
60 seconds: completed 520000 rows
63 seconds: completed 540000 rows
65 seconds: completed 560000 rows
68 seconds: completed 580000 rows
70 seconds: completed 600000 rows
73 seconds: completed 620000 rows
76 seconds: completed 640000 rows
79 seconds: completed 660000 rows
81 seconds: completed 680000 rows
84 seconds: completed 700000 rows
87 seconds: completed 720000 rows
89 seconds: completed 740000 rows
91 seconds: completed 760000 rows
93 seconds: completed 780000 rows
96 seconds: completed 800000 rows
98 seconds: completed 820000 rows
101 seconds: completed 840000 rows
104 seconds: completed 860000 rows
107 seconds: completed 880000 rows
109 seconds: completed 900000 rows
112 seconds: completed 920000 rows
114 seconds: completed 940000 rows
116 seconds: completed 960000 rows
119 seconds: completed 980000 rows
121 seconds: completed 1000000 rows
124 seconds: completed 1020000 rows
126 seconds: completed 1040000 rows
129 seconds: completed 1060000 rows
132 seconds: completed 1080000 rows
135 seconds: completed 1100000 rows
137 seconds: completed 1120000 rows
140 seconds: completed 1140000 rows
143 seconds: completed 1160000 rows
145 seconds: completed 1180000 rows
148 seconds: completed 1200000 rows
150 seconds: completed 1220000 rows
153 seconds: completed 1240000 rows
155 seconds: completed 1260000 rows
158 seconds: completed 1280000 rows
160 seconds: completed 1300000 rows
163 seconds: completed 1320000 rows
165 seconds: completed 1340000 rows
168 seconds: completed 1360000 rows
171 seconds: completed 1380000 rows
173 seconds: completed 1400000 rows
176 seconds: completed 1420000 rows
179 seconds: completed 1440000 rows
181 seconds: completed 1460000 rows
183 seconds: completed 1480000 rows
186 seconds: completed 1500000 rows
188 seconds: completed 1520000 rows
191 seconds: completed 1540000 rows
194 seconds: completed 1560000 rows
197 seconds: completed 1580000 rows
199 seconds: completed 1600000 rows
202 seconds: completed 1620000 rows
205 seconds: completed 1640000 rows
207 seconds: completed 1660000 rows
210 seconds: completed 1680000 rows
212 seconds: completed 1700000 rows
214 seconds: completed 1720000 rows
217 seconds: completed 1740000 rows
219 seconds: completed 1760000 rows
222 seconds: completed 1780000 rows
225 seconds: completed 1800000 rows
227 seconds: completed 1820000 rows
230 seconds: completed 1840000 rows
233 seconds: completed 1860000 rows
236 seconds: completed 1880000 rows
238 seconds: completed 1900000 rows
241 seconds: completed 1920000 rows
244 seconds: completed 1940000 rows
246 seconds: completed 1960000 rows
249 seconds: completed 1980000 rows
251 seconds: completed 2000000 rows
254 seconds: completed 2020000 rows
256 seconds: completed 2040000 rows
259 seconds: completed 2060000 rows
262 seconds: completed 2080000 rows
264 seconds: completed 2100000 rows
267 seconds: completed 2120000 rows
269 seconds: completed 2140000 rows
271 seconds: completed 2160000 rows
274 seconds: completed 2180000 rows
276 seconds: completed 2200000 rows
279 seconds: completed 2220000 rows
281 seconds: completed 2240000 rows
284 seconds: completed 2260000 rows
286 seconds: completed 2280000 rows
288 seconds: completed 2300000 rows
291 seconds: completed 2320000 rows
293 seconds: completed 2340000 rows
296 seconds: completed 2360000 rows
298 seconds: completed 2380000 rows
301 seconds: completed 2400000 rows
303 seconds: completed 2420000 rows
306 seconds: completed 2440000 rows
308 seconds: completed 2460000 rows
311 seconds: completed 2480000 rows
314 seconds: completed 2500000 rows
317 seconds: completed 2520000 rows
319 seconds: completed 2540000 rows
322 seconds: completed 2560000 rows
325 seconds: completed 2580000 rows
327 seconds: completed 2600000 rows
330 seconds: completed 2620000 rows
332 seconds: completed 2640000 rows
334 seconds: completed 2660000 rows
337 seconds: completed 2680000 rows
340 seconds: completed 2700000 rows
342 seconds: completed 2720000 rows
345 seconds: completed 2740000 rows
348 seconds: completed 2760000 rows
350 seconds: completed 2780000 rows
353 seconds: completed 2800000 rows
355 seconds: completed 2820000 rows
358 seconds: completed 2840000 rows
360 seconds: completed 2860000 rows
363 seconds: completed 2880000 rows
366 seconds: completed 2900000 rows
368 seconds: completed 2920000 rows
371 seconds: completed 2940000 rows
374 seconds: completed 2960000 rows
376 seconds: completed 2980000 rows
379 seconds: completed 3000000 rows
382 seconds: completed 3020000 rows
384 seconds: completed 3040000 rows
386 seconds: completed 3060000 rows
389 seconds: completed 3080000 rows
391 seconds: completed 3100000 rows
394 seconds: completed 3120000 rows
396 seconds: completed 3140000 rows
399 seconds: completed 3160000 rows
402 seconds: completed 3180000 rows
405 seconds: completed 3200000 rows
408 seconds: completed 3220000 rows
410 seconds: completed 3240000 rows
413 seconds: completed 3260000 rows
416 seconds: completed 3280000 rows
418 seconds: completed 3300000 rows
421 seconds: completed 3320000 rows
423 seconds: completed 3340000 rows
425 seconds: completed 3360000 rows
428 seconds: completed 3380000 rows
430 seconds: completed 3400000 rows
433 seconds: completed 3420000 rows
436 seconds: completed 3440000 rows
438 seconds: completed 3460000 rows
441 seconds: completed 3480000 rows
443 seconds: completed 3500000 rows
446 seconds: completed 3520000 rows
448 seconds: completed 3540000 rows
451 seconds: completed 3560000 rows
453 seconds: completed 3580000 rows
455 seconds: completed 3600000 rows
457 seconds: completed 3620000 rows
459 seconds: completed 3640000 rows
462 seconds: completed 3660000 rows
465 seconds: completed 3680000 rows
467 seconds: completed 3700000 rows
469 seconds: completed 3720000 rows
471 seconds: completed 3740000 rows
473 seconds: completed 3760000 rows
476 seconds: completed 3780000 rows
478 seconds: completed 3800000 rows
480 seconds: completed 3820000 rows
483 seconds: completed 3840000 rows
485 seconds: completed 3860000 rows
488 seconds: completed 3880000 rows
490 seconds: completed 3900000 rows
492 seconds: completed 3920000 rows
495 seconds: completed 3940000 rows
497 seconds: completed 3960000 rows
499 seconds: completed 3980000 rows
501 seconds: completed 4000000 rows
504 seconds: completed 4020000 rows
506 seconds: completed 4040000 rows
509 seconds: completed 4060000 rows
511 seconds: completed 4080000 rows
514 seconds: completed 4100000 rows
516 seconds: completed 4120000 rows
518 seconds: completed 4140000 rows
521 seconds: completed 4160000 rows
523 seconds: completed 4180000 rows
525 seconds: completed 4200000 rows
527 seconds: completed 4220000 rows
530 seconds: completed 4240000 rows
532 seconds: completed 4260000 rows

In [15]:
toSqlLite(r'C:\Data\Eniro\NFR_LEV_170203\SelskaperUtenRegnskap_030217.txt', 'uten')

0 seconds: completed 20000 rows
2 seconds: completed 40000 rows
5 seconds: completed 60000 rows
7 seconds: completed 80000 rows
9 seconds: completed 100000 rows
12 seconds: completed 120000 rows
14 seconds: completed 140000 rows
17 seconds: completed 160000 rows
19 seconds: completed 180000 rows
21 seconds: completed 200000 rows
23 seconds: completed 220000 rows
26 seconds: completed 240000 rows
28 seconds: completed 260000 rows
30 seconds: completed 280000 rows
33 seconds: completed 300000 rows
35 seconds: completed 320000 rows
37 seconds: completed 340000 rows
40 seconds: completed 360000 rows
42 seconds: completed 380000 rows
44 seconds: completed 400000 rows
47 seconds: completed 420000 rows
49 seconds: completed 440000 rows
52 seconds: completed 460000 rows
54 seconds: completed 480000 rows
56 seconds: completed 500000 rows
59 seconds: completed 520000 rows
61 seconds: completed 540000 rows
63 seconds: completed 560000 rows
66 seconds: completed 580000 rows
68 seconds: completed 600000 rows
70 seconds: completed 620000 rows
72 seconds: completed 640000 rows
74 seconds: completed 660000 rows
77 seconds: completed 680000 rows
79 seconds: completed 700000 rows
81 seconds: completed 720000 rows
83 seconds: completed 740000 rows
85 seconds: completed 760000 rows
88 seconds: completed 780000 rows
90 seconds: completed 800000 rows
92 seconds: completed 820000 rows
95 seconds: completed 840000 rows
97 seconds: completed 860000 rows
100 seconds: completed 880000 rows
102 seconds: completed 900000 rows
105 seconds: completed 920000 rows
107 seconds: completed 940000 rows
109 seconds: completed 960000 rows
112 seconds: completed 980000 rows
114 seconds: completed 1000000 rows
116 seconds: completed 1020000 rows
119 seconds: completed 1040000 rows
121 seconds: completed 1060000 rows
123 seconds: completed 1080000 rows
126 seconds: completed 1100000 rows
128 seconds: completed 1120000 rows
130 seconds: completed 1140000 rows
132 seconds: completed 1160000 rows
135 seconds: completed 1180000 rows
137 seconds: completed 1200000 rows
139 seconds: completed 1220000 rows
142 seconds: completed 1240000 rows
144 seconds: completed 1260000 rows
146 seconds: completed 1280000 rows
148 seconds: completed 1300000 rows
151 seconds: completed 1320000 rows
153 seconds: completed 1340000 rows
155 seconds: completed 1360000 rows
158 seconds: completed 1380000 rows
160 seconds: completed 1400000 rows
162 seconds: completed 1420000 rows
165 seconds: completed 1440000 rows
167 seconds: completed 1460000 rows
169 seconds: completed 1480000 rows
172 seconds: completed 1500000 rows
174 seconds: completed 1520000 rows
177 seconds: completed 1540000 rows
179 seconds: completed 1560000 rows
181 seconds: completed 1580000 rows
184 seconds: completed 1600000 rows
186 seconds: completed 1620000 rows
188 seconds: completed 1640000 rows
191 seconds: completed 1660000 rows
193 seconds: completed 1680000 rows
195 seconds: completed 1700000 rows
198 seconds: completed 1720000 rows
200 seconds: completed 1740000 rows
203 seconds: completed 1760000 rows
205 seconds: completed 1780000 rows
207 seconds: completed 1800000 rows
210 seconds: completed 1820000 rows
212 seconds: completed 1840000 rows
214 seconds: completed 1860000 rows
216 seconds: completed 1880000 rows
219 seconds: completed 1900000 rows
221 seconds: completed 1920000 rows
223 seconds: completed 1940000 rows
226 seconds: completed 1960000 rows
228 seconds: completed 1980000 rows
230 seconds: completed 2000000 rows
233 seconds: completed 2020000 rows
235 seconds: completed 2040000 rows
237 seconds: completed 2060000 rows
240 seconds: completed 2080000 rows
242 seconds: completed 2100000 rows

In [16]:
pd.read_sql_query('SELECT * FROM med LIMIT 1', disk_engine)

,index,orgnr,BEDRIFTSNR,Juridisk_selskapsnavn,orgform,organisasjonsform,Status,Foretakets_markedsnavn,Tidligere_Foretaksnavn,fadresse,...,INGEN_DRIFT,UNDER_AVVIKLING,AVVIKENDE_REGNSKAPSAAR,EK_MINDRE_ENN_50_AV_AK,EGENKAPITALEN_ER_TAPT,AKSJEKAPITALEN_ER_TAPT,Revisor_orgnr,Revisor_Navn,Revisor_Postnr,Revisor_Poststed
0,1,810006862,None,WMF AS,AS,Aksjeselskap,Oppløst,WMF AS,WILHELMSEN MARINE FUELS AS,Strandveien 20,...,0.0,0.0,0.0,0.0,0.0,0.0,933922847.0,PRICEWATERHOUSECOOPERS DA,278.0,OSLO

In [17]:
pd.read_sql_query('SELECT * FROM uten LIMIT 1', disk_engine)

,index,orgnr,BEDRIFTSNR,Juridisk_selskapsnavn,orgform,organisasjonsform,Status,Foretakets_markedsnavn,Tidligere_Foretaksnavn,fadresse,...,INGEN_DRIFT,UNDER_AVVIKLING,AVVIKENDE_REGNSKAPSAAR,EK_MINDRE_ENN_50_AV_AK,EGENKAPITALEN_ER_TAPT,AKSJEKAPITALEN_ER_TAPT,Revisor_orgnr,Revisor_Navn,Revisor_Postnr,Revisor_Poststed
0,1,810061642,None,JOHAN AASEN innehaver Kristin Aasen,ENK,Enkeltpersonforetak,Slettet,AASEN JOHAN INNEHAVER KRISTIN AASEN,None,Omveien 18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
#sql = 'DROP TABLE eniro'
#disk_engine.execute(sql)

sql = 'CREATE TABLE eniro AS SELECT * FROM med WHERE 0'
disk_engine.execute(sql)

In [20]:
sql = 'INSERT INTO eniro SELECT * FROM (SELECT * FROM med UNION ALL SELECT * FROM uten)'
disk_engine.execute(sql)

In [21]:
eniro = pd.read_sql_query('SELECT * FROM eniro LIMIT 5', disk_engine)

In [22]:
eniro.dtypes

index                        int64
orgnr                        int64
BEDRIFTSNR                  object
Juridisk_selskapsnavn       object
orgform                     object
organisasjonsform           object
Status                      object
Foretakets_markedsnavn      object
Tidligere_Foretaksnavn      object
fadresse                    object
fpostnr                    float64
fpoststed                   object
Kommune                     object
Fylke                       object
padresse                    object
ppostnr                    float64
ppoststed                   object
konsernspiss_orgnr          object
konsernspiss_navn           object
datterselskaper             object
ORGNRPARENT                 object
Underavdelinger             object
Aksjeeiere                  object
URL                         object
EPOST                       object
BRANSJEKODE                float64
BRANSJE                     object
NACE2_SN07                  object
NACE3_SN07                  object
NACE1_SN02                 float64
                            ...
NACE2_SN02                  object
NACE3_SN02                  object
Gulesider_bransje           object
STIFTDATO                   object
REGDATO                     object
SLETDATO                    object
KONKDATO                    object
LATITUDE                   float64
LONGITUDE                  float64
Kunngjøringer               object
SEKTOR_2014                 object
Regnaar                      int64
konsern                    float64
Valuta                      object
Antall_ansatte             float64
Antall_ansatte_konsern      object
ANTALL_AARSVERK             object
ANTALL_AARSVERK_KONSERN     object
Antall_Aksjer              float64
23_AKSJEKAPITAL_TAPT       float64
INGEN_DRIFT                float64
UNDER_AVVIKLING            float64
AVVIKENDE_REGNSKAPSAAR     float64
EK_MINDRE_ENN_50_AV_AK     float64
EGENKAPITALEN_ER_TAPT      float64
AKSJEKAPITALEN_ER_TAPT     float64
Revisor_orgnr              float64
Revisor_Navn                object
Revisor_Postnr             float64
Revisor_Poststed            object
dtype: object

In [23]:
#sql = 'DROP TABLE eniro_siste'
#disk_engine.execute(sql)

In [24]:
sql = """
        INSERT INTO eniro_siste
        SELECT * FROM 
        (
            SELECT e.* 
            FROM eniro AS e JOIN 
            (
                SELECT orgnr, MAX(Regnaar) AS Regnaar from eniro GROUP BY orgnr
            ) AS f 
            ON e.Regnaar = f.Regnaar AND e.orgnr = f.orgnr
        )
    """

disk_engine.execute(sql)

OperationalError: (sqlite3.OperationalError) no such table: eniro_siste [SQL: '\n        INSERT INTO eniro_siste\n        SELECT * FROM \n        (\n            SELECT e.* \n            FROM eniro AS e JOIN \n            (\n                SELECT orgnr, MAX(Regnaar) AS Regnaar from eniro GROUP BY orgnr\n            ) AS f \n            ON e.Regnaar = f.Regnaar AND e.orgnr = f.orgnr\n        )\n    ']

In [25]:
sql = """
    SELECT * FROM [in] AS i LEFT JOIN 
    (
    SELECT e.orgnr,
           e.Juridisk_selskapsnavn,
           e.STIFTDATO,
           e.REGDATO,
           e.SLETDATO,
           e.Fylke,
           e.Bransje,
           e.Antall_ansatte,
           e.Antall_ansatte_konsern,
           e.ANTALL_AARSVERK,
           e.ANTALL_AARSVERK_KONSERN,
           e.Regnaar, 
           e.LATITUDE, 
           e.LONGITUDE, 
           e.SEKTOR_2014 AS 'Sektor' 
    FROM eniro_siste AS e 
    ON i.Organisasjonsnummer = e.orgnr
    """

In [26]:
in_eniro = pd.read_sql_query(sql, disk_engine)

OperationalError: (sqlite3.OperationalError) near "
    ": syntax error [SQL: "\n    SELECT * FROM [in] AS i LEFT JOIN \n    (\n    SELECT e.orgnr,\n           e.Juridisk_selskapsnavn,\n           e.STIFTDATO,\n           e.REGDATO,\n           e.SLETDATO,\n           e.Fylke,\n           e.Bransje,\n           e.Antall_ansatte,\n           e.Antall_ansatte_konsern,\n           e.ANTALL_AARSVERK,\n           e.ANTALL_AARSVERK_KONSERN,\n           e.Regnaar, \n           e.LATITUDE, \n           e.LONGITUDE, \n           e.SEKTOR_2014 AS 'Sektor' \n    FROM eniro_siste AS e \n    ON i.Organisasjonsnummer = e.orgnr\n    "]

In [27]:
in_eniro[in_eniro['Antall_ansatte'].notnull()].head(100)

NameError: name 'in_eniro' is not defined

In [ ]:
sql = """
    SELECT * FROM [in] WHERE Virkemiddelkode= '922 - Marint innovasjonsprogram'
    """

pd.read_sql_query(sql, disk_engine)

In [ ]:
in_data[(in_data['Virkemiddelkode']=='922 - Marint innovasjonsprogram')]

In [ ]:
in_kode = in_excel.parse('DIM_vmkode')
in_kode[(in_kode['Virkemiddelkode']=='922 - Marint innovasjonsprogram')]